{% extends 'base.html' %}

{% block content %}
<h2>Survey Details</h2>
<p>Title: {{survey[1]}}</p>
<p>Description: {{survey[2]}}</p>
<p>Created By: {{ survey[3] if survey[3] else 'User not found' }}</p>
<p>Created at: {{survey[4].strftime('%Y-%m-%-d %H:%M')}}</p>
<p>Status: {{ 'Anonymous' if survey[5] else 'Not Anonymous' }}</p>

{% if not is_voted and session.user_id != survey[3] %}
<h2>Options to votes</h2>
<form method="post" action="/submit_vote">
    <input type="hidden" name="survey_id" value="{{ survey[0] }}" />

    {% for option in options %}
        <div class="checkbox-group">
        <input type="checkbox" name="options" value="{{ option[0] }}" />
        {{ option[1]}}
        </div>
    {% endfor %}

    <button type="submit">Submit Vote</button>
</form>

{% else %}
    {% if session.user_id == survey[3] %}
        {% for option in options %}
        <li>
            {{loop.index}} {{ option[1]}}
        </li>
        {% endfor %}
        <br>

        <a href="{{url_for('add_option', survey_id=survey[0])}}"
           class="btn btn-primary">
           Add option
        </a>
    {% endif %}

    <a href="{{url_for('get_votes_for_survey', survey_id=survey[0])}}"
       class="btn btn-secondary">
       View Votes
    </a>
{% endif %}

{% endblock %}